html
  font-size 62.5%

body
  background #D4D4D4
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 2rem
  
h1
  font-family 'Audiowide', cursive;
  text-align center
  font-weight normal
  margin 0



h2,h3,h4,h5,h6
  font-weight 600
  font-family 'Maven Pro', sans-serif

h2
  text-align center
  margin-top 0
  margin-bottom 2rem

h3
  font-size 3rem
  
[class^=icon-]
  font-family 'IcoMoon'
  font-style normal
  font-weight 400
  text-transformation none